.board {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .row {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1vw;

    .images {
      padding: 0 0 3vh 0;
    }
  }
}
